
.box {
  width: 150px;
  height: 140px;
  border: 5px solid gold;
  margin: 1px;
  float: left;
  font-size: 80px;

}

*{
  text-align: center;
  font-family: fantasy;
}

#board{
  width: 495px;
  margin: 5px auto;
}
body {
  background-color: purple;

}
